.info-label-row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
    row-gap: 0px;
    column-gap: 16px;
    width: 100%;
}

.sair-icon {
    color: #e60000;
}


.page-wrapper {    
    display: flex;
    flex-direction: column;
    gap: 24px;
}