.br-carousel {
    --carousel-min-height: 250px !important;
}

.links-wrapper {
    width: 100%;
    align-items: flex-start;
}

.links-content-wrapper {
    flex: 1;             
    min-width: 0;         
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: inherit;
    background: none;
    border: none;
    cursor: pointer;
    font: inherit;
    border-radius: 8px;
    padding-bottom: 8px;
}

.link-box {
    width: 100%;
    height: 6rem;
    background-color: #edeff0;
    border-radius: 8px;
    text-align: center;
    align-content: center;
}

.icon-link-box {
    width: 1em;
    font-size: clamp(2.5rem, 4vw, 4rem);
    color: #0C326F;
}

.links-category-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}


.links-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}


.mini-apps-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 16px;
    align-items: flex-start;
}

.mini-apps-wrapper > .links-content-wrapper {
    flex: 1 1 100px; /* cresce, encolhe, base de 100px */
    max-width: 150px; /* limite para não ficarem enormes em telas grandes */
    word-break: break-word;
}

.mini-apps-box {
    width: 100%;
    aspect-ratio: 1 / 1;
    background: linear-gradient(135deg, #0c326f, #1351b4);
    border-radius: 8px;
    text-align: center;
    align-content: center;
}

.icon-mini-app {
    color: #ffffff;
    font-size: clamp(3rem, 4vw, 4rem);
    width: 2em;
}


.card-img {
    aspect-ratio: 16 / 9; 
    width: 100%;
    overflow: hidden;
    padding-bottom: 8px;
}

.card-img img {
    border-radius: 4px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.row-cards {
    padding-top: 8px;
    display: flex;
    flex-direction: column;
}

.card-header-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.br-tag {
    margin-top: 4px;
}


.blog-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

@media (width >= 576px) {
    .row-cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
        row-gap: 0px;
        column-gap: 16px;
    }

    .row-cards > * {
        width: 100%;
        max-width: 100%;
        padding: 0;
    }
}

@media (width >= 1280px) {
    .row-cards {
        grid-template-columns: repeat(4, 1fr); /* 4 colunas de largura fixa */
        justify-content: flex-start; /* alinha à esquerda */
    }
}