.br-carousel {
    --carousel-min-height: 250px !important;
}

.link-box--gradient {
    background: linear-gradient(135deg, #0c326f, #1351b4);
}

.link-box--gradient .icon-link-box {
    color: #ffffff;
}

.mini-apps-content {
    padding-bottom: 1rem;;
}

.card-img {
    aspect-ratio: 16 / 9; 
    width: 100%;
    overflow: hidden;
    padding-bottom: 8px;
}

.card-img img {
    border-radius: 4px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.row-cards {
    padding-top: 8px;
    display: flex;
    flex-direction: column;
}

.card-header-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.br-tag {
    margin-top: 4px;
}


.blog-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

@media (width >= 576px) {
    .row-cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
        row-gap: 0px;
        column-gap: 16px;
    }

    .row-cards > * {
        width: 100%;
        max-width: 100%;
        padding: 0;
    }
}

@media (width >= 1280px) {
    .row-cards {
        grid-template-columns: repeat(4, 1fr); /* 4 colunas de largura fixa */
        justify-content: flex-start; /* alinha à esquerda */
    }
}