<a href="#" class="links-content-wrapper" aria-label="Agora tem especialistas">
  <div class="link-box">
    <i class="fas fa-user-md icon-link-box" aria-hidden="true"></i>
  </div>
  <p class="text-weight-semi-bold text-up-01">Agora tem Especialistas</p>
</a>

<a href="./vacinas.html" class="links-content-wrapper" aria-label="Vacinas">
  <div class="link-box">
    <i class="fas fa-syringe icon-link-box" aria-hidden="true"></i>
  </div>
  <p class="text-weight-semi-bold text-up-01">Vacinas</p>
</a>

<a href="#" class="links-content-wrapper" aria-label="Exames">
  <div class="link-box">
    <i class="fas fa-vials icon-link-box" aria-hidden="true"></i>
  </div>
  <p class="text-weight-semi-bold text-up-01">Exames</p>
</a>

<a href="#" class="links-content-wrapper" aria-label="Medicamentos">
  <div class="link-box">
    <i class="fas fa-pills icon-link-box" aria-hidden="true"></i>
  </div>
  <p class="text-weight-semi-bold text-up-01">Medicamentos</p>
</a>

<a href="#" class="links-content-wrapper" aria-label="Dignidade Menstrual">
  <div class="link-box">
    <i class="fas fa-female icon-link-box" aria-hidden="true"></i>
  </div>
  <p class="text-weight-semi-bold text-up-01">Dignidade Menstrual</p>
</a>

<a href="#" class="links-content-wrapper" aria-label="Rede de Saúde">
  <div class="link-box">
    <i class="fas fa-hospital icon-link-box" aria-hidden="true"></i>
  </div>
  <p class="text-weight-semi-bold text-up-01">Rede de Saúde</p>
</a>

<a href="#" class="links-content-wrapper" aria-label="Agendamentos">
  <div class="link-box">
    <i class="fas fa-stethoscope icon-link-box" aria-hidden="true"></i>
  </div>
  <p class="text-weight-semi-bold text-up-01">Agendamentos</p>
</a>

<a href="#" class="links-content-wrapper" aria-label="Atendimentos e internação">
  <div class="link-box">
    <i class="fas fa-procedures icon-link-box" aria-hidden="true"></i>
  </div>
  <p class="text-weight-semi-bold text-up-01">Atendimentos e internação</p>
</a>

<a href="#" class="links-content-wrapper" aria-label="Contatos">
  <div class="link-box">
    <i class="fas fa-phone icon-link-box" aria-hidden="true"></i>
  </div>
  <p class="text-weight-semi-bold text-up-01">Contatos</p>
</a>

<a href="#" class="links-content-wrapper" aria-label="Diário de Saúde">
  <div class="link-box">
    <i class="fas fa-book-open icon-link-box" aria-hidden="true"></i>
  </div>
  <p class="text-weight-semi-bold text-up-01">Diário de Saúde</p>
</a>

<a href="#" class="links-content-wrapper" aria-label="Alergias">
  <div class="link-box">
    <i class="fas fa-ban icon-link-box" aria-hidden="true"></i>
  </div>
  <p class="text-weight-semi-bold text-up-01">Alergias</p>
</a>